*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(0, 102, 139);
}
header{
    width:auto;
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
article {
    margin:0 auto;
    max-width: 94%;
}
button {
    
}
#verdict{
    border: solid, black, 1px;
}
#highscores{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
button {
    border:none;
    outline: none;
    cursor: pointer;
}
#restart {
    border:1px solid black;
}
.show{
    display: contents;
}
.hide{
    display: none;
}